body {
  --gutters: 10px;
  --background-color: #222;
  --primary-color: #788f51;
  --color: #ccc;

  --header-border-color: #666666;
  --header-background-color: var(--background-color);

  --loading-border-color: rgba(200, 200, 200, 0.25);
  --loading-border-color-primary: var(--primary-color);

  --card-game-background-color: #333;
  --card-game-image-background-color: rgb(35, 35, 35);
  --card-game-box-shadow: -1px -1px 1px rgba(255, 255, 255, 0.25),
    1px 1px 2px rgba(0, 0, 0, 0.3);
}

body {
  background: var(--background-color);
  color: var(--color);
  font-size: 100%;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.col-4 {
  width: calc(100% / 3);
  margin-top: 25px;
  padding-left: var(--gutters);
  padding-right: var(--gutters);
}

.row {
  margin-right: var(--gutters);
  margin-left: var(--gutters);
}

.application {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 20px;
}

.application-empty {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.application-loading {
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
  height: 100px;
  width: 100px;
  animation: spin 1.5s linear infinite;
  border: 5px solid var(--loading-border-color);
  border-bottom-color: var(--loading-border-color-primary);
  border-radius: 50%;
  transform-origin: 50% 50%;
}

@keyframes spin {
  0% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

.filters {
  padding: var(--gutters);
  padding-bottom: 15px;

  position: sticky;
  top: 0;

  display: flex;
  align-items: flex-end;
  background: var(--header-background-color);
  border-bottom: 2px solid var(--header-border-color);
}

.filters-title {
  padding-left: var(--gutters);
  padding-right: var(--gutters);
}

.filters-body {
  display: flex;
  flex-wrap: wrap;
}

.filters .input-label {
  color: var(--primary-color);
  font-size: 0.85rem;
  padding-bottom: 4px;
  padding-top: 4px;
  font-weight: bold;
}

.filters .input {
  padding-left: var(--gutters);
  padding-right: var(--gutters);
  display: flex;
  flex-direction: column;
}

.card-game {
  background: var(--card-game-background-color);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  /* border: 1px solid #666; */
  box-shadow: var(--card-game-box-shadow);
}
.card-game-body {
  padding: 10px 20px;
}

.card-game .steam-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 210px;
}

.card-game .steam-image {
  flex: 1;
  width: 100%;
  height: auto;
  object-fit: cover;

  background: var(--card-game-image-background-color);
  color: var(--color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card-game .label {
  color: var(--primary-color);
  margin-right: 10px;
  margin-top: 2px;
  display: inline-block;
  font-size: 0.85rem;
  font-weight: bold;
}

.card-game .value {
  font-size: 0.85rem;
}

/* 
  Extra small <576px
  Small ≥576px
  Medium ≥768px
  Large ≥992px
  Extra large ≥1200px 
*/

.d-none {
  display: none !important;
}

@media screen and (max-width: 960px) {
  .d-md-none {
    display: none !important;
  }

  .d-md-block {
    display: block !important;
  }
  .col-4 {
    width: calc(100% / 2);
  }
}

@media screen and (max-width: 720px) {
  .d-sm-none {
    display: none !important;
  }
  .d-sm-block {
    display: block !important;
  }
  .col-4 {
    width: 100%;
  }
}
